// for pixelperfect
.chromeperfectpixel-portal img.chromeperfectpixel-overlay {
  display: block !important;
}

::selection {
  background-color: rgba($primary-color, 0.8);
}

.off-canvas {
  &.is-open {
    & ~ .off-canvas-content {
      .burger {
        i {
          &:first-child {
            transform: translateY(8px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}

// hide the sprite
.sprite-container {
  position: absolute;
  bottom: -8000px;
  overflow: hidden;
  height: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
