// html,
body,
.off-canvas-wrapper,
.off-canvas-content {
  height: 100%;
}

.off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  min-width: 320px;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > .main {
    flex: 1 0 auto;
  }
}

.side {
  .main-menu {
    li {
      & + li {
        a {
          border-top: 1px solid $body-font-color;
        }
      }
    }
    a {
      display: block;
      border-bottom: 0;
      &:focus {
        color: inherit;
      }
    }
  }
  .search-form,
  .callback-address {
    margin: rem-calc(0 10);
  }
  .search-form {
    margin-bottom: rem-calc(30);
  }
  .search-form-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    padding-left: rem-calc(10);
    height: 100%;
    transform: translateY(-50%);
  }
}

.section {
  padding: rem-calc(20 0);
  &.light {
    background-color: #f8fbfc;
  }
}

.blocks {
  & > .cell {
    margin-bottom: rem-calc(10);
  }
  .card {
    margin-bottom: 0;
    height: 100%;
  }
  img {
    width: 100%;
  }
}
