html,
body,
.off-canvas-wrapper,
.off-canvas-content {
  height: 100%;
}

.off-canvas-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  min-width: 320px;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  & > .main {
    flex: 1 0 auto;
  }
}
