@include breakpoint(small only) {
  // Base
  p {
    margin-bottom: rem-calc(12);
  }
  .checked-list {
    font-size: rem-calc(15);
  }
  // Home page
  .head-row {
    .logo {
      margin: rem-calc(0 -10);
    }
  }
  .services-menu {
    &.shown {
      .menu {
        max-height: 800px;
      }
    }
  }
  .hero-content {
    font-size: rem-calc(14);
  }
  .hero-title {
    margin-bottom: rem-calc(16);
    font-size: rem-calc(18);
  }
  .advantages-item {
    font-size: rem-calc(15);
  }
  .text-block {
    font-size: rem-calc(15);
  }
}

@include breakpoint(medium down) {
  // Home page
  .head-row {
    .logo {
      justify-content: center;
    }
    .logo-picture {
      max-width: rem-calc(40);
    }
    .logo-title {
      font-size: rem-calc(16);
    }
  }
  .services-menu {
    .menu {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: padding 0.4s ease-in, opacity 0.4s ease-in, max-height 0.4s ease-in;
      li {
        opacity: 0;
        transition: opacity 0.4s ease-in 0.2s;
      }
    }
    &.shown {
      .menu {
        overflow: auto;
        opacity: 1;
        transition: opacity 0.6s ease-out, max-height 0.6s ease-out, padding 0.1s;
        li {
          opacity: 1;
          transition: opacity 0.3s ease-out 0.1s;
        }
      }
    }
  }
  .production-picture {
    text-align: center;
    img {
      width: 100%;
    }
  }
  .footer {
    .logo-title {
      font-size: rem-calc(18);
    }
  }
}

@include breakpoint(medium only) {
  // Home page
  .services-menu {
    .menu {
      li {
        flex-basis: 50%;
      }
    }
    &.shown {
      .menu {
        max-height: 400px;
      }
    }
  }
}

@include breakpoint(medium) {
  // Base
  .section-title {
    font-size: rem-calc(22);
  }
  .blocks {
    & > .cell {
      margin-bottom: rem-calc(20);
    }
  }
  // Home page
  .hero-content {
    padding: rem-calc(52 35 77);
  }
  .hero-slider {
    .swiper-pagination {
      bottom: rem-calc(50);
      padding: rem-calc(0 35);
    }
  }
  .hero-slide-inner {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
  }
  .partners-item {
    height: rem-calc(180);
  }
  .footer {
    .callback-col {
      padding-top: rem-calc(30);
    }
  }
}

@include breakpoint(large down) {
  //Home page
}

@include breakpoint(large only) {
  // Home page
  .services-menu {
    .menu {
      li {
        flex-basis: 33.3333%;
      }
    }
  }
}

@include breakpoint(large) {
  // Base
  .section {
    padding-top: rem-calc(72);
    padding-bottom: rem-calc(60);
  }
  .section-title {
    margin-bottom: rem-calc(58);
    font-size: rem-calc(25);
    line-height: unitless-calc(56, 25);
  }
  .checked-list {
    li {
      padding-left: rem-calc(80);
      background-position-x: 28px;
    }
  }
  // Home page
  .head {
    .logo {
      margin-left: rem-calc(-16);
    }
    .callback-address {
      margin-left: rem-calc(60);
    }
  }
  .logo-picture {
    margin-top: rem-calc(-22);
  }
  .head-row {
    &.middle {
      padding-top: rem-calc(34);
      padding-bottom: rem-calc(38);
    }
  }
  .callback-phone {
    margin-bottom: rem-calc(16);
  }
  .callback-phone-link {
    font-size: rem-calc(31);
    line-height: 1;
    font-weight: 300;
    color: $body-font-color;
    &:hover,
    &:focus {
      color: $body-font-color;
    }
  }
  .services-menu {
    .menu {
      padding: rem-calc(8 0 7);
      background-color: $primary-color;
      li {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(14);
      }
    }
  }
  .hero-slider {
    .swiper-pagination {
      bottom: rem-calc(90);
    }
  }
  .hero-slide-inner {
    padding-top: rem-calc(43);
    padding-bottom: rem-calc(47);
  }
  .services-cards {
    padding-top: rem-calc(85);
    padding-bottom: rem-calc(70);
  }
  .services-blocks {
    .card {
      font-size: rem-calc(18);
    }
  }
  .advantages-item {
    padding: rem-calc(34 25 22 0);
  }
  .advantages-item-picture {
    flex-basis: rem-calc(80);
  }
  .production-picture {
    padding-top: rem-calc(15);
  }
  .production-link-button {
    margin-left: rem-calc(80);
  }
  .footer {
    .copyright {
      white-space: nowrap;
    }
  }
}

@include breakpoint(xlarge) {
  // Base
  .blocks {
    .card-section {
      padding: rem-calc(22 20);
    }
  }
  // Home page
  .logo-picture {
    padding-right: rem-calc(5);
  }
  .services-menu {
    .menu {
      justify-content: space-between;
      li {
        & + li {
          border-left: 1px solid #1186c9;
        }
      }
    }
  }
  .hero-slide {
    min-height: rem-calc(585);
  }
  .hero-slide-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .services-blocks {
    .card-picture {
      padding-bottom: rem-calc(5);
    }
  }
  .advantages-item-picture {
    flex-basis: rem-calc(120);
  }
  .goods-blocks {
    & > .cell {
      margin-bottom: rem-calc(60);
    }
    .card {
      min-height: rem-calc(252);
    }
  }
  .footer {
    background-image: linear-gradient(90deg, #08486c 0%, #08486c 50%, #08517b 50%, #08517b 100%);
    .footer-col {
      padding-top: rem-calc(45);
    }
    .menu-col {
      &.first {
        .links {
          border-right: 1px solid #196088;
        }
      }
      &.second {
        background-color: #08486c;
      }
    }
    .logo {
      margin-bottom: rem-calc(50);
    }
    .logo-description {
      min-width: rem-calc(340);
    }
    .callback,
    .author-copyright {
      padding-left: rem-calc(10);
    }
    .callback {
      margin-bottom: rem-calc(45);
      &.callback-address {
        margin-bottom: rem-calc(35);
      }
    }
    .callback-title {
      margin-bottom: rem-calc(18);
    }
    .callback-phone {
      margin-bottom: rem-calc(26);
    }
    .links {
      padding-top: rem-calc(10);
    }
  }
  .links {
    li {
      & + li {
        margin-top: rem-calc(20);
      }
    }
  }
}

@include breakpoint(1280px) {
  // Home page
}

@include breakpoint(xlarge) {
  // Home page
}

@include breakpoint(xxlarge) {
  // Home page
}
