a,
button {
  outline: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a {
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid $anchor-color;
  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }
}

h1,
.h1 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

h3 {
  font-weight: 600;
}

.section-title {
  margin-bottom: $global-margin;
  font-size: rem-calc(18);
  line-height: unitless-calc(24, 18);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.custom-list {
  margin-left: 0;
  list-style: none;
}

.checked-list {
  margin-bottom: rem-calc(22);
  li {
    padding: rem-calc(12 0 12 45);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNDQgMzIiPjxkZWZzPjxjbGlwUGF0aCBpZD0iYjAwZWQyZjUtOGZkYy00ZjM0LTlhMjQtYjk1NDBhZWMzYzlmIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDApIj48cmVjdCB3aWR0aD0iNDQiIGhlaWdodD0iMzIiIHN0eWxlPSJmaWxsOm5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48dGl0bGU+Y2hlY2stbWFyazwvdGl0bGU+PGcgaWQ9ImE0ODI4MmNhLTJmMTQtNDc1ZS05ZTQ3LTUzZTg0OWFlNWQ1MyIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iZDRkNzk1ZGEtY2YzMy00ZjhmLWI3MzAtNmFkMzA3MmNiN2IxIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxnIHN0eWxlPSJjbGlwLXBhdGg6dXJsKCNiMDBlZDJmNS04ZmRjLTRmMzQtOWEyNC1iOTU0MGFlYzNjOWYpIj48cGF0aCBkPSJNNi44MywxMy4xNywxNiwyMi4zNCwzNy4xNywxLjE3YTQsNCwwLDAsMSw1LjY2LDUuNjZsLTI0LDI0YTQsNCwwLDAsMS01LjY2LDBsLTEyLTEyYTQsNCwwLDAsMSw1LjY2LTUuNjYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiIHN0eWxlPSJmaWxsOiMwN2IiLz48L2c+PC9nPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: 21px 15px;
    background-position: 10px 50%;
    & + li {
      border-top: 1px solid #d6d6d6;
    }
  }
}
