a,
button {
  outline: 0;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
}

a {
  line-height: 1;
  border-bottom: 1px solid $anchor-color;
  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }
}
