.burger {
  position: relative;
  width: 25px;
  height: 25px;
  outline: none;
  i {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    background-color: $anchor-color;
    transition: background-color 0.15s linear;
    &:first-child,
    &:nth-child(3) {
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:first-child {
      top: 3px;
    }
    &:nth-child(2) {
      top: 11px;
      transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:nth-child(3) {
      top: 19px;
    }
  }
  &:hover {
    i {
      background-color: $anchor-color-hover;
    }
  }
}

.button {
  // font-weight: $global-weight-bold;
  // text-transform: uppercase;
  // white-space: nowrap;
  // letter-spacing: 0.1em;
  &.rounded {
    border-radius: 50%;
  }
}
