.head,
.footer {
  font-size: rem-calc(15);
  line-height: unitless-calc(19, 15);
}

.head {
  background-color: $body-background;
}

.head-row {
  .services-menu {
    margin: rem-calc(0 -10);
  }
  &.top {
    background-color: #f0f4f6;
  }
  &.middle {
    padding: rem-calc(5 0);
    background-color: $white;
  }
  &.bottom {
    background-color: $primary-color;
  }
}

.logo {
  display: flex;
}

.logo-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-title {
  font-size: rem-calc(27);
  line-height: unitless-calc(41, 27);
  font-weight: $global-weight-bold;
  white-space: nowrap;
  color: $primary-color;
}

.logo-description {
  max-width: rem-calc(350);
  font-size: rem-calc(15);
  line-height: unitless-calc(19, 15);
}

.callback-title {
  margin-bottom: rem-calc(13);
  color: $medium-gray;
}

.callback-info {
  margin-bottom: rem-calc(9);
}

.callback-link {
  line-height: inherit;
}

.callback-phone {
  a {
    border-bottom: 0;
  }
}
