.navigation-wrap {
  position: relative;
  padding-right: rem-calc(85);
  .search-form {
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    right: 0;
    overflow: hidden;
    padding: rem-calc(2 0);
    transform: translateY(-50%);
    transition: width 0.4s ease-in 0.6s;
    input {
      position: absolute;
      top: 50%;
      right: 0;
      padding-left: rem-calc(15);
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 50px;
      opacity: 0;
      background-color: $white;
      box-shadow: none;
      transform: translateY(-50%);
    }
    &.shown {
      width: 100%;
      input {
        opacity: 1;
        transition: opacity 0.4s ease-out;
      }
      .search-form-toggle {
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .search-form-toggle {
    position: relative;
    padding: rem-calc(8 11 9 11);
    color: $primary-color;
    background-color: $white;
    box-shadow: 0 1px 0 rgba(115, 115, 115, 0.44);
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
      box-shadow: none;
    }
  }
}

.search-form {
  display: flex;
  position: relative;
  input {
    margin-bottom: 0;
    padding-right: rem-calc(45);
  }
}

.search-form-toggle {
  margin-bottom: 0;
  padding: rem-calc(9 10 10);
  width: auto;
}

.main-menu {
  padding: rem-calc(15 0 18);
  a {
    display: inline-block;
    line-height: unitless-calc(19, 15);
    border-color: $body-font-color;
    color: $body-font-color;
    &:hover,
    &:focus {
      border-color: transparent;
      color: $primary-color;
    }
  }
  &.simple {
    li {
      & + li {
        margin-left: rem-calc(72);
      }
    }
  }
}

.services-menu {
  color: $white;
  background-color: $primary-color;
  .menu {
    background-color: scale-color($primary-color, $lightness: -8%);
    li {
      padding: rem-calc(10);
      font-size: rem-calc(14);
      line-height: unitless-calc(17, 14);
      font-weight: 600;
    }
    a {
      display: inline-block;
      border-color: transparent;
      color: $white;
      &:hover {
        border-color: $white;
      }
    }
    &.simple {
      li {
        & + li {
          margin-left: 0;
        }
      }
    }
  }
  &.shown {
    .menu {
      padding: rem-calc(15 0);
    }
  }
}

.services-menu-toggle {
  margin: 0;
  width: 100%;
  font-size: rem-calc(15);
  font-weight: 600;
  color: $white;
  background-color: $anchor-color;
  &:focus {
    background-color: $anchor-color;
  }
}

.pagination {
  li {
    width: rem-calc(40);
    text-align: center;
    line-height: 1;
    &.pagination-previous,
    &.pagination-next {
      width: rem-calc(20);
      a {
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        color: #616379;
        background-color: transparent;
      }
    }
    &:before {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    //   display: block;
    border: 0;
    background-color: whitesmoke;
  }
}
