.hero-slider {
  .swiper-pagination {
    bottom: rem-calc(25);
    padding: rem-calc(0 10);
    line-height: 1;
    text-align: left;
  }
  .swiper-pagination-bullet {
    width: rem-calc(17);
    height: rem-calc(17);
    border: 1px solid #ababab;
    outline-color: transparent;
    opacity: 1;
    background-color: $white;
    & + .swiper-pagination-bullet {
      margin-left: rem-calc(13);
    }
  }
  .swiper-pagination-bullet-active {
    border: 2px solid $white;
    background-color: $primary-color;
  }
}

.gallery-slider {
  .swiper-slide {
    img {
      margin-bottom: 0;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    margin-top: 0;
    padding: rem-calc(11);
    height: 100%;
    outline-color: transparent;
    color: $white;
    background-color: rgba($black, 0.38);
    background-image: none;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgba($black, 0.3);
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}
