.svg-angle-down-dims {
	width: 19.99px;
	height: 11px;
}

.svg-angle-left-dims {
	width: 11px;
	height: 19.99px;
}

.svg-angle-right-dims {
	width: 11px;
	height: 19.99px;
}

.svg-around-the-clock-dims {
	width: 108px;
	height: 108px;
}

.svg-arrow-left-dims {
	width: 7.94px;
	height: 26.99px;
}

.svg-arrow-right-dims {
	width: 7.94px;
	height: 26.99px;
}

.svg-cart-dims {
	width: 89.17px;
	height: 81.94px;
}

.svg-certificate-dims {
	width: 81px;
	height: 75.25px;
}

.svg-chat-dims {
	width: 24.5px;
	height: 17.5px;
}

.svg-check-mark-dims {
	width: 44px;
	height: 32px;
}

.svg-circle-check-mark-dims {
	width: 8.46px;
	height: 8.42px;
}

.svg-clip-dims {
	width: 42.88px;
	height: 89.97px;
}

.svg-closer-dims {
	width: 12.01px;
	height: 12.01px;
}

.svg-crown-dims {
	width: 107.93px;
	height: 96px;
}

.svg-cup-dims {
	width: 108px;
	height: 108px;
}

.svg-development-dims {
	width: 71px;
	height: 71px;
}

.svg-discount-dims {
	width: 108px;
	height: 108px;
}

.svg-document-dims {
	width: 72.24px;
	height: 90px;
}

.svg-error-picture-dims {
	width: 1215.87px;
	height: 613.55px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-gear-dims {
	width: 104px;
	height: 108px;
}

.svg-graduation-cap-dims {
	width: 108px;
	height: 84px;
}

.svg-igm-dims {
	width: 829.6px;
	height: 829.6px;
}

.svg-lightning-dims {
	width: 14.15px;
	height: 24.01px;
}

.svg-magnifier-dims {
	width: 14px;
	height: 14px;
}

.svg-medal-dims {
	width: 43.72px;
	height: 63px;
}

.svg-money-dims {
	width: 100px;
	height: 70px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-present-dims {
	width: 43.64px;
	height: 47.22px;
}

.svg-quality-sign-dims {
	width: 90px;
	height: 90.03px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

