.svg-around-the-clock-dims {
	width: 108px;
	height: 108px;
}

.svg-check-mark-dims {
	width: 44px;
	height: 32px;
}

.svg-crown-dims {
	width: 107.93px;
	height: 96px;
}

.svg-cup-dims {
	width: 108px;
	height: 108px;
}

.svg-discount-dims {
	width: 108px;
	height: 108px;
}

.svg-document-dims {
	width: 72.24px;
	height: 90px;
}

.svg-fcb-dims {
	width: 12px;
	height: 21px;
}

.svg-gear-dims {
	width: 104px;
	height: 108px;
}

.svg-graduation-cap-dims {
	width: 108px;
	height: 84px;
}

.svg-igm-dims {
	width: 829.6px;
	height: 829.6px;
}

.svg-magnifier-dims {
	width: 14px;
	height: 14px;
}

.svg-phone-dims {
	width: 1000px;
	height: 1000px;
}

.svg-vk-dims {
	width: 272.13px;
	height: 159.33px;
}

