.content {
  img {
    margin-bottom: rem-calc(20);
    width: 100%;
  }
  ul {
    font-size: rem-calc(15);
    line-height: unitless-calc(25, 15);
    &.secondary {
      font-size: rem-calc(16);
      line-height: unitless-calc(22, 16);
      li {
        position: relative;
        margin-top: rem-calc(8);
        margin-bottom: rem-calc(8);
        padding: rem-calc(0 0 0 18);
        &:before {
          position: absolute;
          left: 0;
          top: rem-calc(3);
          color: $secondary-color;
        }
      }
      a {
        display: inline;
        border-color: $body-font-color;
        color: $body-font-color;
        &:hover,
        &:focus {
          border-color: transparent;
          color: $primary-color;
        }
      }
    }
  }
  li {
    padding-top: rem-calc(4);
    padding-bottom: rem-calc(4);
    &:before {
      content: '\2022';
      vertical-align: middle;
      margin-right: rem-calc(5);
      font-size: rem-calc(32);
      line-height: 20px;
      font-weight: 700;
      color: $primary-color;
    }
  }
  table {
    label {
      display: block;
    }
  }
  tbody {
    tr {
      & + tr {
        border-top: 1px solid #bfbfbf;
      }
    }
  }
  th,
  td {
    vertical-align: middle;
    &:last-child {
      text-align: right;
    }
  }
  th,
  td:first-child {
    font-size: rem-calc(15);
    line-height: unitless-calc(25, 15);
  }
  th {
    padding-top: rem-calc(42);
    padding-bottom: rem-calc(5);
    font-weight: $global-weight-normal;
    color: #a5a5a5;
  }
  .pagination {
    li {
      &:not(.current) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
