<div class="advantages section">
  <div class="grid-container">
    <div class="section-title title text-center">Наши преимущества</div>
    <div class="advantages-blocks blocks grid-x grid-padding-x medium-up-2 large-up-3 align-center">
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="53" height="39">
              <use xlink:href="#graduation-cap"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">Коллектив увлеченных специалистов в области промышленной электроники</div>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="43" height="45">
              <use xlink:href="#gear"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">Собственное производство систем АДЧР</div>
            <a href="#">Подробнее</a>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="46" height="46">
              <use xlink:href="#around-the-clock"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">Бригады сервисных инженеров, всегда готовы прийти к вам на помощь</div>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="47" height="40">
              <use xlink:href="#crown"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">Надежный партнер с гарантией качества и технической поддержкой с 2012 года</div>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="50" height="50">
              <use xlink:href="#cup"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">574 выполненных проекта в области промышленной электроники</div>
            <a href="#">Cмотреть проекты</a>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <div class="advantages-item">
          <div class="advantages-item-picture">
            <svg class="icon" width="49" height="49">
              <use xlink:href="#discount"></use>
            </svg>
          </div>
          <div class="advantages-item-content">
            <div class="advantages-item-description">Гибкий подход в ценовой политике. Цена - это повод для диалога.</div>
          </div>
        </div>
        <!-- /.advantages-item -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.advantages -->