<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-7 large-4">
        <div class="logo">
          <div class="logo-picture logo-cell">
            <img src="assets/img/logo-light.png" alt="">
          </div>
          <div class="logo-info logo-cell">
            <div class="logo-title">Привод Автоматика</div>
            <div class="logo-description show-for-medium">Комплексные системы решений автоматизации технологических процессов</div>
          </div>
        </div>
        <!-- /.logo -->
        <ul class="scl-menu menu simple align-middle">
          <li>
            <a href="#">
              <svg class="icon" width="28" height="15">
                <use xlink:href="#vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" width="12" height="21">
                <use xlink:href="#fcb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" width="24" height="26">
                <use xlink:href="#igm"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- /.scl-menu -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-5 large-3 large-order-4">
        <div class="callback">
          <div class="callback-title">Бесплатный звонок по России</div>
          <div>
            <a href="tel:+78002504890" class="callback-phone">
              <span class="callback-phone-text">8-800-250-4890</span>
            </a>
          </div>
          <a href="#" class="callback-link button secondary">Заказать обратный звонок</a>
        </div>
        <!-- /.callback -->
        <div class="callback">
          <div class="callback-title">Адрес компании</div>
          <div class="callback-info">г. Пермь, ул. Ижевская, 25
            <br>ПН-ПТ с 6:30 до 15:30 МСК</div>
          <a href="#" class="callback-link button secondary">Отправить заявку</a>
        </div>
        <!-- /.callback -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-3 large-2">
        <ul class="vertical menu simple">
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Клиенты</a>
          </li>
          <li>
            <a href="#">Вакансии</a>
          </li>
          <li>
            <a href="#">Отзывы</a>
          </li>
          <li>
            <a href="#">Сертификаты</a>
          </li>
          <li>
            <a href="#">Партнерство</a>
          </li>
          <li>
            <a href="#">Информация</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
        <!-- /.menu -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-9 large-3">
        <ul class="vertical menu simple">
          <li>
            <a href="#">Ремонт электроники</a>
          </li>
          <li>
            <a href="#">Модернизация станков</a>
          </li>
          <li>
            <a href="#">Обследование электропривода</a>
          </li>
          <li>
            <a href="#">Сервисное обслуживание</a>
          </li>
          <li>
            <a href="#">Производство АДЧР</a>
          </li>
          <li>
            <a href="#">Каталог оборудования</a>
          </li>
        </ul>
        <!-- /.menu -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell large-3 large-order-2">
          <div class="copyright">Сайт разработан в
            <a href="#">Рецепты Рекламы</a>
          </div>
        </div>
        <!-- /.cell -->
        <div class="cell large-9">
          <div class="copyright">Все права защищены. ООО «Привод Автоматика» (C) 2018</div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->