<div class="goods-blocks blocks grid-x grid-padding-x medium-up-3 xlarge-up-6 align-center">
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/1.jpg" alt="">
      </div>
      <div class="card-info">Преобразователи частоты</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/2.jpg" alt="">
      </div>
      <div class="card-info">Болгарские привода постоянного- переменного тока</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/3.jpg" alt="">
      </div>
      <div class="card-info">Сервопривода и серводвигатели</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/4.jpg" alt="">
      </div>
      <div class="card-info">Станции и шкафы управления</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/5.jpg" alt="">
      </div>
      <div class="card-info">Устройство плавного пуска</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/6.jpg" alt="">
      </div>
      <div class="card-info">Программируемые логические контроллеры</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/7.jpg" alt="">
      </div>
      <div class="card-info">Панели оператора</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/8.jpg" alt="">
      </div>
      <div class="card-info">Модули рекуперации</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/9.jpg" alt="">
      </div>
      <div class="card-info">Датчики давления и уровня</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/10.jpg" alt="">
      </div>
      <div class="card-info">Источники питания</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/11.jpg" alt="">
      </div>
      <div class="card-info">Энкодеры</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/12.jpg" alt="">
      </div>
      <div class="card-info">Температурные контроллеры</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/13.jpg" alt="">
      </div>
      <div class="card-info">Коммуникационные модули</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/14.jpg" alt="">
      </div>
      <div class="card-info">Неуправляемые коммутаторы</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/15.jpg" alt="">
      </div>
      <div class="card-info">Счетчики и таймеры</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/16.jpg" alt="">
      </div>
      <div class="card-info">Регуляторы мощности</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/17.jpg" alt="">
      </div>
      <div class="card-info">Твердотельные реле</div>
    </a>
  </div>
  <!-- /.cell -->
  <div class="cell">
    <a href="#" class="card">
      <div class="card-picture">
        <img src="assets/img/goods/18.jpg" alt="">
      </div>
      <div class="card-info">Механические компоненты</div>
    </a>
  </div>
  <!-- /.cell -->
</div>
<!-- /.goods-blocks -->