<header class="head">
  <div class="head-row top show-for-large">
    <div class="grid-container">
      <div class="navigation-wrap flex-container align-right">
        <nav class="navigation">
          <ul class="main-menu menu simple">
            <li>
              <a href="#">О компании</a>
            </li>
            <li>
              <a href="#">Клиенты</a>
            </li>
            <li>
              <a href="#">Информация</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <!-- /.navigation -->
        <form class="search-form">
          <input type="text">
          <button class="search-form-toggle button rounded" type="button">
            <svg class="icon" width="14" height="14">
              <use xlink:href="#magnifier"></use>
            </svg>
          </button>
        </form>
        <!-- /.search-form -->
      </div>
      <!-- /.navigation-wrap -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.head-row -->
  <div class="head-row middle">
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-middle">
        <div class="cell small-2 hide-for-large">
          <button type="button" class="burger" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas">
            <i></i>
            <i></i>
            <i></i>
          </button>
        </div>
        <!-- /.cell -->
        <div class="cell small-8 large-5">
          <a href="/" class="logo">
            <div class="logo-picture logo-cell">
              <img src="assets/img/logo.png" alt="">
            </div>
            <div class="logo-info logo-cell">
              <div class="logo-title">Привод Автоматика</div>
              <div class="logo-description show-for-large">Комплексные системы решений автоматизации технологических процессов</div>
            </div>
          </a>
          <!-- /.logo -->
        </div>
        <!-- /.cell -->
        <div class="cell show-for-large large-4">
          <div class="callback-address callback">
            <div class="callback-title">Адрес компании</div>
            <div class="callback-info">г. Пермь, ул. Ижевская, 25
              <br>ПН-ПТ с 6:30 до 15:30 МСК</div>
            <a href="#" class="callback-link">Отправить заявку</a>
          </div>
          <!-- /.callback-address -->
        </div>
        <!-- /.cell -->
        <div class="cell small-2 large-3 flex-container flex-dir-column align-bottom">
          <div class="callback">
            <div class="callback-title show-for-large">Бесплатный звонок по России</div>
            <div class="callback-phone">
              <a href="tel:+78002504890" class="callback-phone-link">
                <svg class="icon hide-for-large" width="24" height="24">
                  <use xlink:href="#phone"></use>
                </svg>
                <span class="callback-phone-text show-for-large">8-800-250-4890</span>
              </a>
            </div>
            <a href="#" class="callback-link show-for-large">Заказать обратный звонок</a>
          </div>
          <!-- /.callback -->
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.head-row -->
  <div class="head-row bottom">
    <div class="grid-container">
      <div class="services-menu">
        <button type="button" class="services-menu-toggle button hide-for-large">Список услуг</button>
        <ul class="vertical menu simple medium-horizontal">
          <li>
            <a href="#">Ремонт электроники</a>
          </li>
          <li>
            <a href="#">Модернизация станков</a>
          </li>
          <li>
            <a href="#">Обследование электропривода</a>
          </li>
          <li>
            <a href="#">Сервисное обслуживание</a>
          </li>
          <li>
            <a href="#">Производство АДЧР</a>
          </li>
          <li>
            <a href="#">Каталог оборудования</a>
          </li>
        </ul>
      </div>
      <!-- /.services-menu -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.head-row -->
</header>
<!-- /.head -->