<div class="hero">
  <div id="hero-slider" class="hero-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-10 large-6">
                <div class="hero-content">
                  <div class="hero-title title">Ремонт промышленной электроники</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль;</p>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <a href="#" class="button">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-10 large-6">
                <div class="hero-content">
                  <div class="hero-title title">Ремонт промышленной электроники</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль;</p>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <a href="#" class="button">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-10 large-6">
                <div class="hero-content">
                  <div class="hero-title title">Ремонт промышленной электроники</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль;</p>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <a href="#" class="button">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
    </div>
    <!-- Add Pagination -->
    <div id="hero-slider-pagination" class="swiper-pagination"></div>
  </div>
</div>
<!-- /.hero -->