<div class="hero">
  <div id="hero-slider" class="hero-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-10 large-8 xlarge-6">
                <div class="hero-content">
                  <div class="hero-title title">Ремонт промышленной электроники</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                    человеческая мысль;</p>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <a href="#" class="button secondary">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="http://via.placeholder.com/1920x585" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-10 large-8 xlarge-6">
                <div class="hero-content">
                  <div class="hero-title title">Заголовок второго слайда</div>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <a href="#" class="button secondary">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-10 large-8 xlarge-6">
                <div class="hero-content">
                  <div class="hero-title title">Заголовок третьего слайда</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                    человеческая мысль;</p>
                  <a href="#" class="button secondary">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="http://via.placeholder.com/1920x585" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-10 large-8 xlarge-6">
                <div class="hero-content">
                  <div class="hero-title title">Заголовок четвёртого слайда</div>
                  <p>В общем плане связная и полная последовательность символов.Существуют две основные трактовки понятия</p>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                    человеческая мысль;</p>
                  <a href="#" class="button secondary">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
      <div class="hero-slide swiper-slide">
        <img src="assets/img/hero/bg-slide-1.jpg" alt="">
        <div class="hero-slide-inner">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell medium-10 large-8 xlarge-6">
                <div class="hero-content">
                  <div class="hero-title title">Заголовок пятого слайда</div>
                  <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                    человеческая мысль;</p>
                  <a href="#" class="button secondary">Перейти</a>
                </div>
                <!-- /.hero-content -->
              </div>
              <!-- /.cell -->
            </div>
            <!-- /.grid-x -->
          </div>
          <!-- /.grid-container -->
        </div>
        <!-- /.hero-slide-inner -->
      </div>
      <!-- /.hero-slide -->
    </div>
    <div class="grid-container">
      <div id="hero-slider-pagination" class="swiper-pagination"></div>
    </div>
    <!-- /.grid-container -->
  </div>
</div>
<!-- /.hero -->