<script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 57.984049, lng: 56.275092 },
        zoom: 17,
        disableDefaultUI: true,
        scrollwheel: false,
        navigationControl: false,
        mapTypeControl: false,
        scaleControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
  
      var marker = new google.maps.Marker({
        position: { lat: 57.984049, lng: 56.275092 },
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBBV7bHzXujhrXUQoCCYlnPG5y-U9414&amp;callback=initMap" async defer></script>