<div class="partners section light">
  <div class="grid-container text-center">
    <div class="section-title title">Нам доверяют</div>
    <div class="blocks grid-x small-up-2 medium-up-3 large-up-6 align-center">
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/1.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/2.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/3.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/4.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/5.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="partners-item">
          <img src="assets/img/partners/6.jpg" alt="">
        </a>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.partners -->