<div class="production section">
  <div class="grid-container">
    <div class="section-title title text-center">Производство АДЧР</div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-8 medium-offset-2 large-6 large-offset-0">
        <div class="production-picture">
          <img src="assets/img/production/1.jpg" alt="" class="thumbnail">
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell medium-8 medium-offset-2 large-6 large-offset-0">
        <div class="production-info">
          <ul class="checked-list custom-list">
            <li>Cнижает нагрузку на питающую сеть и электродвигатель (снижение пусковых токов)</li>
            <li>Плавность пуска</li>
            <li>Возможность поддержание, в заданном диапазоне, 
              скорости вращения ротора электродвигателя</li>
            <li>Возможность работы на низких оборотах ротора без потери мощности (кВт), КПД (ɳ), момента (Н*м) и перегрева обмотки ротора</li>
            <li>При массовом использовании, дает ощутимый экономический эффект, за счет экономии электроэнергии</li>
            <li>Увеличивает ресурс работы, как самого электродвигателя, 
              так и приводимого в движение оборудования</li>
          </ul>
          <a href="#" class="production-link-button button secondary">Читать подробнее</a>
        </div>
        <!-- /.production-info -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.production -->