<div class="services section light">
  <div class="grid-container">
    <div class="blocks grid-x grid-padding-x medium-up-2 large-up-3 text-center align-center">
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <img src="assets/img/services/1.jpg" alt="">
          </div>
          <div class="card-info card-section">
            <div class="card-title">Ремонт промышленной электроники</div>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <img src="assets/img/services/2.jpg" alt="">
          </div>
          <div class="card-info card-section">
            <div class="card-title">Модернизация станков</div>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <img src="assets/img/services/3.jpg" alt="">
          </div>
          <div class="card-info card-section">
            <div class="card-title">Экспертное обследование электропривода</div>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.services -->