<div class="services-cards section light">
  <div class="grid-container">
    <div class="services-blocks blocks grid-x grid-padding-x medium-up-2 large-up-3 align-center">
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <div class="card-picture-thumbnail">
              <img src="assets/img/services/1.jpg" alt="">
            </div>
          </div>
          <div class="card-info card-section">
            <span class="card-title">Ремонт промышленной электроники</span>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <div class="card-picture-thumbnail">
              <img src="assets/img/services/2.jpg" alt="">
            </div>
          </div>
          <div class="card-info card-section">
            <span class="card-title">Модернизация станков</span>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
      <div class="cell">
        <a href="#" class="card">
          <div class="card-picture card-section">
            <div class="card-picture-thumbnail">
              <img src="assets/img/services/3.jpg" alt="">
            </div>
          </div>
          <div class="card-info card-section">
            <span class="card-title">Экспертное обследование электропривода</span>
          </div>
        </a>
        <!-- /.card -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.services-cards -->