<nav aria-label="Pagination">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Page 1">1</a>
    </li>
    <li class="pagination-previous">
      <a href="#" aria-label="Previous page">
        <span class="show-for-sr">Страница</span>
        <svg class="icon" width="11" height="20">
          <use xlink:href="#angle-left"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Page 4">4</a>
    </li>
    <li class="current">
      <span class="show-for-sr">You're on page</span> 5</li>
    <li>
      <a href="#" aria-label="Page 6">6</a>
    </li>
    <li class="pagination-next">
      <a href="#" aria-label="Next page">
        <span class="show-for-sr">Страница</span>
        <svg class="icon" width="11" height="20">
          <use xlink:href="#angle-right"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Page 54">54</a>
    </li>
  </ul>
</nav>